@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@400;500;700&display=swap');
@import "nullstyle.scss";

$dark: #333333;
$gray: #EFEFEF;
$accent: #66C05D;

body {
	font-family: 'Roboto', sans-serif;
	font-size: 14px;
}

.wrapper {
	min-height: 100%;
	overflow: hidden;

	display: flex;
	flex-direction: column;
}

.container {
	max-width: 1140px;
	margin: 0 auto;
	padding: 0 15px 0 15px;
}

.info {
	background: #E5E5E5;
	padding: 15px;
	line-height: 16px;
	&__list {
		display: flex;
		justify-content: center;
		@media(max-width:535px) {
			flex-direction: column;
			text-align: center;
		}
	}

	&__link {
		padding: 0 15px 0 15px;
		& a {
			color: $dark;
		}
		@media(max-width:535px) {
			margin: 0 0 15px 0;
			font-size: 18px;
		}
	}
	@media(max-width:767px) {
		order: 3;
	}
}


//Header:
.logo {
	padding: 0 20px 0 0;
	&__image {
		margin: 0 20px 0 0;
	}

	&__title {
		font-weight: 700;
		font-size: 36px;
		line-height: 42px;
		letter-spacing: 0.1em;
		text-transform: uppercase;
		color: #66C05D;
	}
}

.btn {
	line-height: 16px;
	border-radius: 40px;
	padding: 10px 27px;
	white-space: nowrap;
	text-align: center;
	line-height: 16px;
	letter-spacing: 0.05em;
	color: #FFFFFF;
	border: 2px solid #FFFFFF;
	background-color: $accent;
}

.feedback {
	display: flex;
	align-items: center;
	@media (max-width:915px) {
		flex-direction: column;
	}

	&__phone {
		font-size: 16px;
		line-height: 19px;
		margin: 0 20px 0 0;
		white-space: nowrap;
		@media (max-width:915px) {
			margin: 0 0 10px 0;
		}
	}

	&__btn {
		color: #000000;
		background: #FFFFFF;
		border: 2px solid $accent;
	}
}

.header {
	@media(max-width:767px) {
		order: 1;
	}
	display: flex;
	flex-direction: column;
	&__top {
		border-bottom: 1px solid $gray;
		padding: 30px 0;
		@media(max-width:767px) {
			padding: 15px 0;
		}
	}

	&__row {
		display: flex;
		justify-content: space-between;
		@media (max-width: 540px) {
			flex-direction: column;
		}
	}

	&__logo {
		display: flex;
		align-items: center;
		justify-content: center;
	}

	&__feedback {
		@media (max-width: 540px) {
			display: none;
		}
	}

	&__bottom {
		padding: 30px 0;
		@media(max-width:767px) {
			padding: 15px 0;
		}
	}
}

.menu {
	&__list {
		display: flex;
		justify-content: center;
		@media(max-width:767px) {
			display: block;
			text-align: center;
		}
	}

	&__link {
		padding: 0 20px 0 20px;
		& a {
			font-size: 16px;
			line-height: 19px;
			color: #000000;
			@media(max-width:767px) {
				font-size: 20px;
			}
		}
		@media(max-width:767px) {
			margin: 0 0 12px 0;
		}
	}
}

//Main

.banner {
	background: $accent url('../img/main/background.png') 60% 0/auto 100% no-repeat;
	overflow: hidden;
	padding: 0 15px 0 15px;
	@media (max-width:530px) {
		padding: 15px ;
	}

	@media(max-width:1145px) {
		background: $accent;
	}
	&__content {
		display: flex;
		align-items: center;
		@media (max-width:530px) {
			flex-direction: column;
		}
	}

	&__description {
		padding: 192px 0;
		flex: 0 1 28%;
		align-items: center;
		@media (max-width:1130px) {
			padding: 70px 0;
		}
		@media (max-width:530px) {
			order: 2;
			padding: 10px 0;
			text-align: center;
		}
	}

	&__title {
		font-weight: 700;
		font-size: 48px;
		line-height: 56px;
		color: #FFFFFF;
		margin: 0 0 50px 0;
		@media (max-width:1150px) {
			font-size: 30px;
			margin: 0 0 30px 0;
			line-height: 28px;
		}
		@media (max-width:530px) {
			font-size: 30px;
			margin: 0 0 18px 0;
		}
	}

	&__text {
		font-size: 14px;
		line-height: 20px;
		color: #FFFFFF;

		margin: 0 0 70px 0;
		@media (max-width:530px) {
			margin: 0 0 28px 0;
		}
	}

	&__image {
		display: none;
		@media(max-width:1145px) {
			display: block;
			max-width: 548px;
			& img {
				width: 100%;
			}
		}
		@media (max-width:530px) {
			order: 1;
		}
	}
}


.main {
	flex: 1 1 auto;
	&__content {
		background-color: $gray;
		padding: 80px 0 103px 0;
		@media (max-width:1140px) {
			padding: 40px 0 80px 0;
		}
	}

	&__special-offers {
		margin: 0 0 100px 0;
		@media (max-width:1140px) {
			margin: 0 0 50px 0;
		}
	}
}

.special-offers {
	&__title {
		font-weight: 700;
		font-size: 24px;
		line-height: 28px;
		margin: 0 0 38px 0;
	}

	&__cards {
		margin: 0 -15px;
	}
}

.cards {
	display: flex;
	justify-content: space-between;
	flex-wrap: wrap;
	&__item {
		margin: 0 0 30px 0;
	}
}

.item {
	padding: 0 15px;
	flex: 0 1 25%;
	@media (max-width:1140px) {
		flex: 0 1 50%;
		margin: 0 auto 15px auto;
	}
	&__card {
		height: 100%;
		background-color: #FFFFFF;
		display: flex;
		flex-direction: column;
		align-items: center;
		padding: 25px 30px;
		width: 255px;
		margin: 0 auto;
	}

	&__image {
		text-align: center;
		margin: 0 0 20px 0;
		max-width: 125px;
		& img {
			width: 100%;
		}
	}

	&__description {
		line-height: 20px;
		text-align: center;
		color: $dark;
		margin: 0 0 20px 0;
		flex: 1 1 auto;
	}

	&__ptrice {
		font-weight: 500;
		font-size: 21px;
		line-height: 25px;
		text-align: center;
		letter-spacing: 0.05em;
		margin: 0 0 20px 0;
	}

	&__btn {
		width: 135px;
	}
	
}

.main {
	@media(max-width:767px) {
		order: 2;
	}

	&__row {
		display: flex;
		justify-content: center;
		margin: 0 -15px;
		flex-wrap: wrap;
	}

	&__block {
		margin: 0 0 30px 0;
	}
}

.block {
	padding: 0 15px;
	@media(max-width:570px) {
	width: 500px;
	}
	&__item {
		background-color: $accent;
		display: flex;
		padding: 35px 45px;
		justify-content: space-between;
		height: 100%;
		align-items: center;
		width: 540px;
		@media(max-width:570px) {
			flex-direction: column;
			padding: 15px 15px;
			width: 100%;
		}
	}

	&__column {
		display: flex;
		flex-direction: column;
		@media(max-width:570px) {
			order: 2;
			text-align: center;
		}
	}

	&__title {
		font-weight: 700;
		font-size: 18px;
		line-height: 21px;
		color: #FFFFFF;

		margin: 0 0 25px 0;
		@media(max-width:570px) {
			margin: 0 0 10px 0;
		}
	}

	&__text {
		line-height: 20px;
		color: #FFFFFF;
		flex: 1 1 auto;

		margin: 0 0 25px 0;
		@media(max-width:570px) {
			flex: 0 0 auto;
		}
	}

	&__form {
		& input {
			background: #FFFFFF;
			border-radius: 30px;
			padding: 9px 0 9px 25px;
			line-height: 16px;
			&::placeholder {
				color: #C4C4C4;
			}
		}
	}

	&__image {
		padding: 0 0 0 65px;
		max-width: 200px;
		& img {
			width: 100%;
		}
		@media(max-width:570px) {
			order: 1;
			padding: 0;
			margin: 0 auto 15px auto;
		}
	}
}


.footer {

	&__top {
		background-color: #FFFFFF;
		padding: 40px 0;
		@media(max-width:800px) {
			padding: 20px 0;
		}
	}

	&__row {
		display: flex;
		justify-content: space-between;
		align-items: center;
		@media(max-width:800px) {
			flex-direction: column;
			justify-content: center;
		}
	}

	&__social {
		@media(max-width:800px) {
			margin: 0 0 20px 0;
		}
	}

	&__address {
		& address {
			white-space: nowrap;
		}
		@media(max-width:800px) {
			margin: 0 0 20px 0;
		}
	}

	&__bottom {
		background-color: $gray;
		padding: 20px 0;
	}

	&__copyright {
		display: flex;
		justify-content: space-between;
		@media(max-width:535px) {
			flex-direction: column;
			text-align: justify;
		}
		& p {
			font-size: 12px;
			line-height: 14px;
			color: #828282;
		}
	}
	@media(max-width:767px) {
		order: 4;
	}
}

.social {
	display: flex;
	&__icon {
		position: relative;
		width: 45px;
		height: 45px;
		background: #FFFFFF;
		border: 2px solid #66C05D;
		border-radius: 50%;
		margin: 0 20px 0 0;
		& img {
			position: absolute;
			top: 50%;
			left: 50%;
			transform: translate(-50%, -50%);
		}
	}
}

